* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

header,
footer {
  height: 50px;
  width: 100%;
  background-color: blue;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 20px;
}

a {
  color: white;
  font-size: 18px;
}

/* nav2 */

.nav2,
.main {
  border: 1px solid steelblue;
}
.nav2 ul li {
  width: 250px;
  border-bottom: 1px solid teal;
}
.nav2 ul {
  background-color: rgb(29, 162, 97);
}

.nav2 > ul > li:hover > a {
  background-color: red;
  color: yellow;
}

.nav2 ul li a {
  line-height: 40px;
  font-weight: 600;
  display: block;
  text-align: left;
  padding: 0 20px;
}

.parent {
  position: relative;
}
.parent:hover .subnav {
  display: block;
}

.subnav {
  display: none;
  position: absolute;
  top: 0px;
  left: 250px;
  background-color: rgb(29, 162, 97) !important;
}
.subnav li {
  width: 286px;
}

.subnav li a {
  display: block;
  padding-left: 20px !important;
}
.subnav li:hover a {
  background-color: red;
  color: yellow;
}

/* form */
form > div {
  display: flex;
  margin: 16px;
}
form {
  border: 1px solid teal;
  width: 550px;
  margin-left: 35%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  color: white;
  background-color: blue;
}
p {
  min-width: 200px;
}
input {
  font-size: 16px !important;
  height: 30px;
}
button {
  padding: 4px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: thistle;
  border: 0;
  cursor: pointer;
  margin-bottom: 12px;
}

/* main */
.cus {
  display: flex;
}

h3 {
  text-align: center;
  margin: 12px 0;
}
