* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 200px;
}

.container {
  border: 1px solid tan;
  box-shadow: 8px 10px 8px teal;
  padding: 20px 0 20px 20px;
}

p {
  min-width: 250px !important;
  font-size: 20px;
}

.input,
.res {
  display: flex;
  margin-bottom: 16px;
}

input {
  font-size: 24px;
  padding: 5px 0 5px 5px;
}

.result {
  margin-left: 56%;
  transform: translate(-50%, 0);
}

button {
  font-size: 18px;
}
