* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-transform: uppercase;
  color: black;
}

p {
  text-transform: uppercase;
  font-weight: 600;
  margin: 8px 0;
}

/* main */
.main {
  display: flex;
  padding: 20px 30px;
}

/* menu */

.menu {
  width: 250px;
}

.menu > .title {
  background-color: #ff3366;
  line-height: 60px;
  color: white;
  display: block;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
/* ul */
.menu > ul {
  background-color: white;
}

.menu > ul > li {
  width: 250px;
  border-left: 1px solid wheat;
  border-right: 1px solid wheat;
  border-bottom: 1px solid wheat;
}

.menu ul li a {
  display: block;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
  padding-left: 30px;
}
.menu > ul > li:hover > a {
  background-color: violet;
  color: #336699;
}

.parent {
  position: relative;
}

.parent:hover .subnav {
  display: block;
}

/* subnav */
.subnav {
  display: none;
  position: absolute;
  left: 250px;
  top: -50px;
  width: 250px;
}

.subnav li a {
  text-transform: capitalize !important;
}
.subnav li:hover a {
  background-color: yellow;
  color: #ff3366;
}
