* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: black;
}

/* nav2 */

.nav2,
.main {
  border: 1px solid steelblue;
  margin-top: 10px;
}
.nav2 > ul {
  display: flex;
  background-color: #ffccff;
  justify-content: space-around;
}

.nav2 > ul > li:hover {
  background-color: #66ffff;
}

.nav2 ul li a {
  line-height: 50px;
  font-weight: 600;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 0 20px;
}

.parent {
  position: relative;
}
.parent:hover .subnav {
  display: block;
}

.subnav {
  display: none;
  position: absolute;
  top: 50px;
  background-color: thistle;
}
.subnav li {
  border-bottom: 1px solid teal;
}

.subnav li a {
  width: 250px;
  text-transform: capitalize;
}

.subnav li:hover a {
  background-color: tomato;
}
