* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-image: url(../../helper/img/Dragon.jpg);
  background-size: 250px 200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #a06d21;
}

.content > p {
  color: white;
  padding: 0 10px 50px 10px;
}

h1 {
  text-align: center;
  color: #ffcc00;
  padding: 30px 0;
}
