* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
a {
  color: black;
}
/* nav1 */
.nav1 {
  background-image: url("../Bai1//472038.jpg");
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.logo {
  font-size: 24px;
  color: tomato;
  font-weight: 700;
  margin-top: 40px;
  text-decoration: underline;
}

.title {
  margin-top: 10px;
  padding-right: 20px;
  color: coral;
  font-weight: 600;
  font-size: 20px;
}

.nav2 > ul {
  display: flex;
  padding: 0 24px;
  justify-content: space-around;
  background-color: #66ffcc;
}

.nav2 > ul > li {
}

.nav2 ul li a {
  display: block;
  font-weight: 600;
  line-height: 50px;
  padding: 0 20px;
}
.nav2 > ul > li:hover > a {
  background-color: #ffffcc;
}

.parent {
  position: relative;
}

.parent:hover .subnav {
  display: block;
}

/* subnav */
.subnav {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #66ffcc;
  width: 200px;
  text-transform: capitalize;
}

.subnav li:hover a {
  background-color: darkkhaki;
}

/* img */

.img {
  display: flex;
}

.img > div {
  margin: 0 16px;
  border: 1px solid springgreen;
  text-align: center;
  font-weight: 600;
  color: #330066;
  font-size: 16px;
  background-color: #66ff66;
}

.img {
  margin-bottom: 20px;
}

.cus {
  text-decoration: line-through;
  color: red;
}

.cl1 {
  width: 770px;
  border: 1px solid steelblue;
  margin-top: 20px;
}

.tl1 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 50px;
  background-color: royalblue;
}

.detail > img:hover {
  width: 165px;
  height: 210px;
}

/* cl2 */
.cl2 {
  margin-left: 10px;
  margin-top: 20px;
  width: 200px;
  align-content: center;
  border: 1px solid tan;
  height: fit-content;
}
.main {
  display: flex;
}
form > input {
  height: 24px;
  margin-top: 10px;
  margin-left: 16px;
}
button {
  margin-top: 16px;
  padding: 5px 8px;
  margin-left: 70px;
  margin-bottom: 16px;
}

.tl1 {
  padding-left: 10px;
  font-weight: 500;
}

/* .cl3 */

.cl3 {
  text-align: center;
  color: tomato;
  margin-top: 20px;
  width: 300px;
  margin-left: 20px;
}

.cl3 .row {
  border: 1px solid springgreen;
  margin-bottom: 12px;
  border-radius: 5px;
}
.cuss {
  font-weight: 600;
  color: white;
  background-color: tomato;
  line-height: 40px;
  text-transform: capitalize;
}

.row > div {
  padding: 8px;
}
.row ul li {
  padding: 4px;
}
