* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.list {
  color: white;
  font-weight: 600;
  display: flex;
  width: 500px;
}
.list > li {
  list-style-type: none;
  padding: 20px;
  background-color: blue;
}

.list > li:hover {
  background-color: red;
}

.relative {
  position: relative;
}
.subnav {
  display: none;
}
.subnav > li {
  background-color: red !important;
}
a {
  color: white;
  display: block;
  padding: 20px;
}
.relative:hover .subnav {
  display: flex;
  position: absolute;
  top: 58px;
  left: -94px;
}
